/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
html, body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}